<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="team_project.matt.vehicle_simulator">

    <!-- device requires bluetooth le support as this simulator will send data via advertisements -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- required to access bluetooth features -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        tools:ignore="GoogleAppIndexingWarning"

        android:allowBackup="true"
        android:supportsRtl="true"

        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>